:root {
	font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	overflow-x: hidden;
}

#gl {
	width: 100%;
	height: 100vh;
	height: 100dvh;
	max-height: 100vh;
	max-height: 100dvh;
	position: absolute;
}

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

main {
	position: relative;
	z-index: 2;
}

.content {
	margin: 0 auto;
	max-width: min(90vw, 1440px);
	padding: 0 20px;
}

h1 {
	font-size: max(5vw, 52px);
	line-height: 1.2;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 0.5em;
	font-weight: 700;
}

.scene {
	height: 60vh;
	border: 1px solid black;
	border-radius: 32px;
	overflow: hidden;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: min(2vw, 40px);
	margin: 20vh 0;
	align-items: center;
}

h2 {
	font-size: max(3vw, 36px);
	line-height: 1.2;
	text-wrap: balance;
	margin-bottom: 0.5em;
}

p {
	font-size: 1.125rem;
	line-height: 1.4;
	text-wrap: balance;
}

.full-width-container {
	width: 100%;
	padding: 0 min(80px, 5vw);
}

.full-width-scene-container {
	margin: 50px 0;
	height: 90dvh;
	height: 90vh;
	border: 1px solid black;
	border-radius: 32px;
	overflow: hidden;
}

.full-width-scene {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 992px) {
	.grid {
		grid-template-columns: repeat(1, 1fr);
	}
}
